<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <div id="sidebar">
       <div id="logo">
         <%=  link_to  root_path  do  %>
         <%=  image_tag  "logo.png" %>
         <%  end %>
       </div>
       <br />
       <ul>
         <li  class="category">Website</li>
         <li><%=  link_to  "blog",  root_path  %></li>
         <li><%=  link_to  "about", "/about"  %></li>
       </ul>

       <ul>
         <li  class="category">Social</li>
         <li><a  href="https://twitter.com/">Twitter</a></li>
         <li><a  href="https://instagram.com/">Instagram</a></li>
         <li><a  href="https://github.com/">Github</a></li>
         <li><a  href="mailto:metaclon@gmail.com">Email</a></li>
       </ul>

       <p class="sign_in">Admin  Login</p>
     </div>

     <div id="main_content">
       <div id="header">
         <% if  current_page?(root_path) %>
           <p>All  Posts</p>
         <% elsif  current_page?(about_path) %>
           <p>About</p>
         <%  else %>
           <p><%=  link_to("back to  All Posts", root_path) %></p>
         <%  end  %>

         <div class="buttons">
           <button class="button"><%=  link_to  "New  Post", new_post_path  %></button>
           <button class="button">Log  out</button>
         </div>
       </div>

       <%  flash.each  do  |name,msg|  %>
          <%=  content_tag(:div, msg, class:"alert") %>
       <%  end  %>

       <%= yield %>
     </div>

  </body>
</html>
